@page
@model Chronos.Web.Pages.StatsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create new account";
}

<p>
    Number of accounts : @Model.Stats?.NumberOfAccounts<br>
    Number of assets : @Model.Stats?.NumberOfAssets<br>
    Bitcoin price : @Model.CoinInfo.Price
</p>
